

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 10rem;
}

h1 {
    background-color: red;    
    border: 10px solid white;
    width: 100%;
    height: 10rem;
}

.turma {
    background-color: red;
    height: 100%;
    margin: 0.3%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 100%;
    height: 45rem;
}

.sidebar {
    background-color: yellow;
    border: 10px solid white;  

    
}

 section h2 {
    background-color: rgb(153, 0, 255);
    border: 10px solid white;
    height: 50%;
    margin: 0.5%;

}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    
}

footer h3 {
    background-color: rgb(0, 132, 255);
    border: 10px solid white;
    width: 100%;
    height: 8rem;


}